
@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,700');

/*---Media Queries --*/
@media (max-width: 992px) {

  }
@media (max-width: 768px) {

}
@media (max-width: 576px) {

}

body{
  margin: 0;
  padding: 0;
}


.headerblue{
  /*--background:linear-gradient(135deg, #172a74, #21a9af);--*/
  background-color: #3498db;
  width: 100%;
  height: 100%;
  min-height: auto;
  background-size:100% auto;
  background-position: center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  -o-background-size: cover;
   z-index: 0;
}
.active{
  border-bottom:5px solid #16AC0D;
  transition: width 0.2s, background-color 0.5s;

}
.caption{
      background-color: transparent;
      border:1px Solid white;
      border-radius: 40px;
      opacity: 0.75;
      padding-top: 2%;
      padding-left: 2%;
      margin-right: 38%;
      padding-bottom: 2%;
      width: 40%;
      align-items: center;
}
.navbar {
  background-color: #333;
  padding-top:12px;
  padding-bottom:10px;
  border-radius:0;
  box-shadow:none;
  border:none;
  color: white;
}

.navbar.solid {
  background-color: #292c2f;
  transition: background-color 1s ease 0s;
  border-radius: 2px;
  border-color: black;
}

.h2{

}
.headerblue.hero{
  margin-top:60px;
}

@media (max-width:767px) {
  .header-blue .hero{
    margin-top:20px;
    text-align:center;
  }
}

.headerblue.hero h1{
  color:#fff;
  font-size:40px;
  margin-top:190px;
  margin-bottom:24px;
  font-weight:300;
}


.headerblue.hero p{
  color:rgba(255,255,255,0.8);
  font-size:20px;
  margin-bottom:30px;
  font-weight:300;
}

/*-SPONSHOPSHIP SECTION STYLES-*/
.content{
    margin-top:40px;
}
.plan-one {
    margin: 0 0 20px 0;
    width: 100%;
    position: relative;
}

.plan-card {
    background: #fff;
    margin-bottom: 30px;
    transition: .5s;
    border: 0;
    border-radius: .55rem;
    position: relative;
    width: 100%;
    box-shadow: 0 1px 2px 0 rgba(0,0,0,0.5);
}

.plan-one .sponser-header {
    padding: 0;
    margin-bottom: 0;
    text-align: center;
}

.plan-one .sponser-header .sponser-title {
    -webkit-border-radius: 10px 10px 0px 0px;
    -moz-border-radius: 10px 10px 0px 0px;
    border-radius: 10px 10px 0px 0px;
    font-size: 1.2rem;
    color: #ffffff;
    padding: 10px 0;
    font-weight: 600;
    background: #5a99ee;
    margin: 0;
}


.plan-one .sponser-header.green .sponser-title {
    background: #e6e6fa;
}

.plan-one .sponser-header.orange .sponser-title {
    background: #FFD700;
}

.plan-one .sponser-header.silver .sponser-title {
    background: #C0C0C0;
}

.plan-one .sponser-header.red .sponser-title {
    background: #eaa147;
}

.plan-one .sponser-header.blue .sponser-title {
    background: #fc8165;
}


.plan-one .sponser-features {
    border: 1px solid #e6ecf3;
    border-top: 0;
    border-bottom: 0;
    padding: 0;
    margin: 0;
    text-align: left;
}

.plan-one .sponser-features li {
    padding: 10px 15px 10px 40px;
    margin: 5px 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    position: relative;
    border-bottom: 1px solid #e6ecf3;
    line-height: 100%;
}
jumbotron{
  background: #F0F0F0;
}

.boxed {
  padding : .5em 0 0 0;
 width : 5em;
 background-color: #fff;
}

/*-THUS IT ENDS-*/

/*-Start of anim-*/
h2 {
  color: #666;
  display:inline-block;
  margin:0;
  text-transform:uppercase;
 }
h2:after {
  display:block;
  content: '';
  border-bottom: solid 3px #92a8d1;
  transform: scaleX(0);
  transition: transform 800ms ease-in-out;
}
h2:hover:after {
 transform: scaleX(1);
}

.cool-link {
    display: inline-block;
    color: #000;
margin-left: 50%;
}
.cool-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #000;
    transition: width .3s;
}


.cool-link:hover::after {
    width: 70%;
    //transition: width .3s;
}
.gif{
  background: url(img/louji.gif);
}
.lo{

  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;

}
